01-preparacao-do-ambiente
02-programacao-python/aula1/jupyter-notebook_markdown
02-programacao-python/aula1/resident-profiles
02-programacao-python/aula2/python-warmup

dataset

*.ipynb_checkpoints
test*
