# Specific directories
00-ferramentas-de-visualizacao
01-preparacao-do-ambiente
02-programacao-python/aula1/jupyter-notebook_markdown
02-programacao-python/aula1/resident-profiles
02-programacao-python/aula2/python-warmup
04-banco-de-dados/aula2

# Generic directories/files
dataset
Untitled.ipynb

# Temporary directories/files
.ipynb_checkpoints
__pycache__
test*
